Greetings, <%= @passenger.name %>!

Your booking(id: <%= @booking.id %>) for flight(id: <%= @booking.flight_id %>) from <%= @booking.flight.from_airport.name %> to <%= @booking.flight.to_airport.name %> at <%= @booking.flight.flight_start %> have been successfully registered!

To see your booking, just follow this link: <%= @url %>.

Thanks for joining and have a great day!</p>
