<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Greetings, <%= @passenger.name %>!</h1>
    <p>
      Your booking(id: <%= @booking.id %>) for flight(id: <%= @booking.flight_id %>) from <%= @booking.flight.from_airport.name %> to <%= @booking.flight.to_airport.name %> at <%= @booking.flight.flight_start %> have been successfully registered!<br>
    </p>
    <p>
      To see your booking, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
