<% if @filtered_flights.any? %>
  <%= form_for :booking, url: booking_path, method: :get do |f| %>
    <table class="table table-striped text-center">
      <tr>
        <th class="text-center">From</th>
        <th class="text-center">To</th>
        <th class="text-center">Flight Date</th>
        <th class="text-center">Flight Duration(hours)</th>
        <th class="text-center">Select</th>
      </tr>
      <% @filtered_flights.each do |flight| %>
        <tr>
          <td><%= flight.from_airport.name %></td>
          <td><%= flight.to_airport.name %></td>
          <td><%= flight.flight_start %></td>
          <td><%= flight.flight_duration %></td>
          <td><%= f.radio_button :flight_id, flight.id %></td>
        </tr>
      <% end %>
    </table>
    <%= f.hidden_field :num_of_tickets, value: params[:flight][:num_of_tickets] %>
    <%= f.submit "Fill in booking information", class: "btn btn-default btn-block" %>
  <% end %>
<% else %>
  <h4 class="text-center">No Flights Found</h4>
<% end %>
