<%= form_for :flight, url: '/flights',
             method: :get, html: {class: 'form-inline text-center'} do |f| %>
  <div class="form-group">
    <%= f.label :from_airport, "From: " %>
    <%= f.select :from_airport, options_for_select(@from), {}, { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.label :to_airport, "To: " %>
    <%= f.select :to_airport, options_for_select(@to), {}, { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.label :flight_start, "Date: " %>
    <%= f.select :flight_start, options_for_select(@dates), {}, { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.label :num_of_tickets, "Tickets: " %>
    <%= f.select :num_of_tickets, options_for_select([1,2,3,4]), {}, { class: 'form-control' } %>
  </div>
  <br /><br />
  <%= f.submit "Search for flights", class: "btn btn-default btn-block" %>
<% end %>
<hr />
