<div class="panel panel-default">
  <div class="panel-heading text-center">
    <h3 class="panel-title">Choose your flight</h3>
  </div>
  <div class="panel-body">
    <%= render 'search_form' %>
    <%= render 'list_of_flights' %>
  </div>
</div>
