<table class="table table-striped text-center">
  <thead>
    <tr>
      <th class="text-center">Flight ID</th>
      <th class="text-center">From</th>
      <th class="text-center">To</th>
      <th class="text-center">Date</th>
      <th class="text-center">Duration</th>
      <th class="text-center">Name</th>
      <th class="text-center">Email</th>
      <th class="text-center">Sex</th>
      <th class="text-center">Age</th>
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.flight_id %></td>
        <td><%= booking.flight.from_airport.name %></td>
        <td><%= booking.flight.to_airport.name %></td>
        <td><%= booking.flight.flight_start %></td>
        <td><%= booking.flight.flight_duration %></td>
        <td><%= booking.passenger.name %></td>
        <td><%= booking.passenger.email %></td>
        <td><%= booking.passenger.sex %></td>
        <td><%= booking.passenger.age %></td>
      </tr>
    <% end %>
  </tbody>
</table>
