<%= form_for @booking, url: booking_path do |f| %>
  <table class="table table-striped text-center">
    <thead>
      <tr>
        <th class="text-center">From</th>
        <th class="text-center">To</th>
        <th class="text-center">Flight Date</th>
        <th class="text-center">Flight Duration(hours)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @flight.from_airport.name %></td>
        <td><%= @flight.to_airport.name %></td>
        <td><%= @flight.flight_start %></td>
        <td><%= @flight.flight_duration %></td>
      </tr>
    </tbody>
  </table>
  <%= f.hidden_field :flight_id, value: params[:booking][:flight_id] %>
  <%= f.fields_for :passenger, @passengers do |passenger_fields| %>
  <div class="form-group form-inline text-center">
    <%= passenger_fields.label :name, "Name: " %>
    <%= passenger_fields.text_field :name, class: "form-control" %>

    <%= passenger_fields.label :email, "Email: " %>
    <%= passenger_fields.email_field :email, class: "form-control" %>

    <%= passenger_fields.label :age, "Age: " %>
    <%= passenger_fields.text_field :age, class: "form-control" %>

    <%= passenger_fields.label :sex, "Sex: " %>
    <%= passenger_fields.select :sex, options_for_select(["Male", "Female"]), {}, { class: 'form-control' } %>
  </div>
  <% end %>
  <%= f.submit "Create booking", class: "btn btn-default btn-block" %>
<% end %>
